[submodule "scripts/translators"]
	path = scripts/translators
	url = https://github.com/rakhimov/translators
[submodule "input/synthetic-models"]
	path = input/synthetic-models
	url = https://github.com/openpra-org/synthetic-models.git
